<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <h1>Você está na agenda kkkkk CORNO</h1>
    <br>
    <br>
    
    <div id="func">
        <div id="exemplo">
            <table border="2">
                <tr>
                    <th>Nome Empresa</th>
                    <th>telefone 1</th>
                    <th>telefone 2</th>
                    <th>telefone 3</th>
                </tr>
                    <%dados.forEach(item => {%>
                    <tr>
                        <td><%= item.nome %></td>
                        <td><%= item.primeiroTelefone %></td>
                        <td><%= item.segundoTelefone %></td>
                        <td><%= item.terceiroTelefone %></td>
                    </tr>
                    <%})%>
                
            </table>
        </div>
    </div>
    
</body>
</html>